/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif ;
}

/* Body Styling */
body{
    background: linear-gradient(135deg, #fdf6e3, #e0cfc1);
    display: flex;
    justify-content: center;
    padding: 40px;
}
/* Main Container */
body > div {
    background-color:#fffaf5; 
    padding: 40px;
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(120, 72, 48, 0.2);
    text-align: center;
    border: 2px solid #b08968;

}
/*Profile image*/
img.Profile-pic{
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #d6bfa9;
    margin-bottom: 20 px;

}

/* Headings */
h1 {
  color: #7f5539;
  margin-bottom: 10px;
  font-size: 2.2rem;
}

h1 + p {
  color: #5e503f;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Navigation */
nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #a47148;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
nav a:hover{
    color: #7f5539;
    text-decoration: underline;
}

/* section styling */
section{
    margin-top: 30px;
    text-align: left;
}

/* Lists */
ul, ol {
  padding-left: 20px;
  margin-top: 10px;
  color: #3e2723;
}

li {
  margin-bottom: 6px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f8efe6;
  border-radius: 10px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #d6bfa9;
  text-align: center;
  padding: 12px;
}

th {
  background-color: #b08968;
  color: #fff;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
}
input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #bfae9d;
  border-radius: 8px;
  background-color: #fcf8f3;
  color: #3e2723;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #b08968;
  background-color: #f8efe6;
}

/* Buttons */
button {
  padding: 10px 20px;
  background-color: #a47148;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7f5539;
}
